{% extends 'DAGR/sidebar.html' %}
{%block content%}
{% load render_table from django_tables2 %}

      <form action="{% url 'watson:search' %}">
            <input name="q" value="{{request.GET.q}}">
            <input type="submit" value="Go">
        </form>



        <h3>DAGR</h3>
        {% render_table DAGR %}
<br>
<a href="Category" class="btn btn-default">New Category</a>
<a href="upload" class="btn btn-default">Single File Upload</a>
<a href="mult" class="btn btn-default">Bulk Data Entry</a>

{%endblock%}
